.cards-container {
    column-count: 1;
}

.card-item {
    break-inside: avoid;
}

@media (min-width: 576px) {
    .cards-container {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .cards-container {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .cards-container {
        column-count: 4;
    }
}
